<h2>Artikel</h2>

<div class="new-post-wrapper">
  <%= link_to('Artikel erstellen', new_post_path, class: 'btn btn-primary') %>
</div>

<div class="table-responsive">
  <table class="table table-striped posts-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Titel</th>
      <th>Status</th>
      <th>Veröffentlichen</th>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
        <tr>
          <td scope="row"><%= post.id %></td>
          <td>
            <% if post.published? %>
                <%= link_to(post.title, post_path(post)) %>
            <% else %>
                <%= post.title %>
            <% end %>
          </td>
          <td><%= published_status(post) %></td>
          <td>
            <% if post.unpublished? %>
                <%= form_tag(publish_post_path(post), method: 'post') do %>
                    <%= csrf_meta_tags %>
                    <button class="btn btn-default btn-xs" type="submit">Veröffentlichen</button>
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h2>Kommentare</h2>

<div class="table-responsive">
  <table class="table table-striped comments-table">
    <thead>
    <tr>
      <th>#</th>
      <th>Artikel</th>
      <th>Text</th>
      <th>Spam-Status</th>
      <th>Aktion</th>
    </tr>
    </thead>
    <tbody>
    <% @comments.each do |comment| %>
        <tr>
          <td scope="row"><%= comment.id %></td>
          <td>
            <% if comment.post.published? %>
                <%= link_to(comment.post.title, post_path(comment.post)) %>
            <% else %>
                <%= comment.post.title %>
            <% end %>
          </td>
          <td><%= truncate(comment.body, :length => 50) %></td>
          <td><%= spam_status(comment) %></td>
          <td>
            <% if comment.spam? %>
                <%= form_tag(ham_comment_path(comment), method: 'post') do %>
                    <%= csrf_meta_tags %>
                    <button class="btn btn-default btn-xs" type="submit">Nicht Spam</button>
                <% end %>
            <% else %>
                <%= form_tag(spam_comment_path(comment), method: 'post') do %>
                    <%= csrf_meta_tags %>
                    <button class="btn btn-default btn-xs" type="submit">Spam</button>
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>