<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset='UTF-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= auto_discovery_link_tag(:rss, '/feed/posts?format=rss') %>

  <title>Openblog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">OpenBlog</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if controller_name == 'posts' && action_name == 'overview' %>
          <li class="active"><a href="<%= posts_overview_path %>">Artikelübersicht</a></li>
        <% else %>
          <li><a href="<%= posts_overview_path %>">Artikelübersicht</a></li>
        <% end %>

        <% if controller_name == 'admin' %>
          <li class="active"><a href="/admin">Admin</a></li>
        <% else %>
          <li><a href="/admin">Admin</a></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="stats">Artikel: <%= @num_posts %></li>
        <li class="stats">Kommentare: <%= @num_comments %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>

  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
